.game {
	background-color: green;
	border: 5px black solid;
}

.scoreboard {
	padding: 5px;
	color: white;
	text-align: center;
	border: 5px black solid;
	background-color: darkgreen;
}

.space {
	background-color: green;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
}

.LIGHT {
	background-color:white;
	color: white;
	height: 50px;
  	width: 50px;
  	border-radius: 50%;
  	display: inline-block;
}

.DARK {
	background-color:black;
	color: black;
	height: 50px;
  	width: 50px;
  	border-radius: 50%;
  	display: inline-block;
}

.game-table {
	margin: auto;
	color: white;
}